In [1]:
#!pip install pandas_profiling

# Libraries and Global Settings

In [1]:
import pandas as pd  # work with Pandas dataframes


import warnings # Funktionalität zur Unterdrückung von Warnungen
warnings.filterwarnings('ignore')

In [2]:
%%html
<style>
table {float:left}
</style>

# Importing Data

Fist of all we import the data which were generated in the whole preprocess (`df_for_ML`).

In [3]:
df_for_ML = pd.read_csv('df_for_ML.csv')

In [4]:
df_for_ML.head()

,Datum,Temp,WG,WR,Druck,NO,NO2,SO2,CO,Niederschlag,PM10
0,2000-01-01,3.718,1.959896,234.922917,991.8,17.6266,24.236,10.38,0.9109,3.5892,11.3772
1,2000-01-02,3.848,2.172912,222.511250,996.9,14.2886,28.698,10.74,0.8870,3.5212,12.3972
2,2000-01-03,1.463,2.295208,220.181250,996.2,19.0638,35.336,10.29,0.8394,0.8398,19.9480
3,2000-01-04,4.934,3.574979,220.885417,989.9,8.2660,24.210,13.42,0.7822,1.4894,11.4780
4,2000-01-05,6.917,2.237208,220.554167,989.7,11.3496,26.208,14.27,1.1890,4.3200,12.9260

In [5]:
df_for_ML.describe()

,Temp,WG,WR,Druck,NO,NO2,SO2,CO,Niederschlag,PM10
count,7458.000000,7458.000000,7458.000000,7458.000000,7458.000000,7458.000000,7458.000000,7458.000000,7458.000000,7458.000000
mean,12.037186,1.981211,194.085750,984.837622,20.628170,33.558937,6.631525,0.455946,1.429776,19.585107
std,7.414490,0.727090,61.500193,7.725808,26.766503,16.107154,4.776749,0.296478,3.356878,11.001963
min,-11.430000,0.600000,2.300000,947.400000,0.047220,0.000000,0.000000,0.023830,0.000000,0.000000
25%,6.259250,1.500000,153.713579,980.585000,5.287000,22.260000,3.138250,0.226937,0.000000,12.481200
50%,12.205000,1.800000,211.071147,985.400000,11.165000,31.175000,5.959850,0.393567,0.060000,17.310000
75%,17.730000,2.300000,234.489428,989.800000,24.995000,42.510000,9.152800,0.625345,1.270000,24.133000
max,31.460000,7.155542,359.700000,1011.300000,345.900000,138.800000,44.690000,2.984000,51.100000,211.700000

# Modeling

## Data Preparation

Definition of Sampling Rates

### Data Scaling and Normalization

### Split Data into Training and Validation Samples

## Alogrithms Selection

## Baseline Models

## Deep Learning Models

## Hyperparamters Optimization

## Evaluation

### Model Evaluation (Performance)

#### Training Phase

#### Testing Phase

# Projekt Evaluation

# Deployment

In the first phase of CRISP the overall business-case, which shall be supported by the data mining process must be clearly defined and understood. Then the goal of the data mining project itself must be defined. This includes the specification of metrics for measuring the performance of the data mining project.

In the second phase data must be gathered, accessed, understood and described. Quantitiy and qualitity of the data must be assessed on a high-level.

In the third phase data must be investigated and understood more thoroughly. Common means for understanding data are e.g. visualization and the calculation of simple statistics. Outliers must be detected and processed, sampling rates must be determined, features must be selected and eventually be transformed to other formats.

In the modelling phase various algorithms and their hyperparameters are selected and applied. Their performance on the given data is determined in the evaluation phase.

The output of the evaluation is usually fed back to the first phases (business- and data-understanding). Applying this feedback the techniques in the overall process are adapted and optimized. Usually only after several iterations of this process the evaluation yields good results and the project can be deployed.