In [4]:
import pandas as pd
from datetime import datetime

In [5]:
def trafficImport(path, listYear):
    mydateparser = lambda x: pd.datetime.strptime(x, "%y%m%d")

    for i in listYear:
        
        path_full = path + str(i) + ".csv"    
    
        if i == 2003:
            df_traffic = pd.read_csv(path_full,
                         header=0,
                         sep=";",
                         parse_dates=['Datum'],
                         date_parser=mydateparser,
                         index_col=['Datum'])   
        
        else:
            df_traffic_temp = pd.read_csv(path_full,
                         header=0,
                         sep=";",
                         parse_dates=['Datum'],
                         date_parser=mydateparser,
                         index_col=['Datum'])
            df_traffic = df_traffic.append(df_traffic_temp, sort=False)
            
    df_traffic = df_traffic[["KFZ_R1", "KFZ_R2"]]
    df_traffic = df_traffic.resample('d').sum()
    df_traffic.loc[:,'KFZ_ges'] = df_traffic.loc[:,'KFZ_R1'].add(df_traffic.loc[:,'KFZ_R2'])
    df_traffic = df_traffic[["KFZ_ges"]] 
    return df_traffic

In [6]:
path = "Data/zst8440_"
listYear = list(range(2003, 2019, 1))

df_traffic = trafficImport(path, listYear)

In [8]:
df_traffic.head(20)

            KFZ_ges
Datum
2003-01-01    30317
2003-01-02    53090
2003-01-03    57096
2003-01-04    43985
2003-01-05    33196
2003-01-06    34675
2003-01-07    64482
2003-01-08    68621
2003-01-09    71682
2003-01-10    75096
2003-01-11    49221
2003-01-12    39874
2003-01-13    62247
2003-01-14    70914
2003-01-15    76881
2003-01-16    78732
2003-01-17    81366
2003-01-18    57380
2003-01-19    48083
2003-01-20    78983